%h1= @category.name
%div= link_to 'new', new_category_path(@category.id)
%table#children
  - @category.children.each do |child|
    %tr
      %td= child.name
      %td= link_to 'show', category_path(child)
      %td= link_to 'edit', edit_category_path(child)